<div class="jumbotron">
  <h1>Choose a place to eat!</h1>
  <p class="lead">Select a restaurant by what you would like to eat.<br> Choose from many counties, cusine types and ratings</p>

  <ul class="nav nav-pills">
  <!-- Dropdown menu item -->
  <li class="dropdown-county">
    <a class="dropdown-menu" data-toggle="dropdown" href="#">County
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a data-toggle="tab" [routerLink]="['/details', restaurant.county]">Dublin</a></li>
      <li><a data-toggle="tab" href="#kidflash">Cork</a></li>
    </ul>
  </li>

  <li class="dropdown-cuisine">
    <a class="dropdown-menu" data-toggle="dropdown" href="#">Cuisine Type
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a data-toggle="tab" href="#flash">Chinese</a></li>
      <li><a data-toggle="tab" href="#kidflash">Indian</a></li>
    </ul>
  </li>

   <li class="dropdown-rating">
    <a class="dropdown-menu" data-toggle="dropdown" href="#">Rating
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a data-toggle="tab" href="#flash">1</a></li>
      <li><a data-toggle="tab" href="#kidflash">2</a></li>
    </ul>
  </li>
</ul>
</div>